@import "../../../../_variables.scss";

.navigation {
  height: $navHeight;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: stretch;

  .navigationItem {
    align-self: center;
    margin: 0 12px;
    display: inline-flex;
    width: 100px;
    height: 100%;
    align-items: center;
    justify-content: center;
    font-size: 14px;

    span {
      cursor: pointer;
      text-decoration: none;
      color: $grey1;
      height: 100%;
      display: inline-flex;
      align-items: center;
      box-sizing: border-box;

      &:hover {
        color: $primary;
      }
    }

    &.active {
      span {
        border-top: 2px solid $primary;
        color: $primary;
      }
    }
  }
}
