*, html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

a {
  color: #000;
  cursor: pointer;
  margin: 0 2px;
  text-decoration: none;

  &:hover {
    background-image: linear-gradient(120deg, #cfd9df 0%, #e2ebf0 100%);
    background-repeat: no-repeat;
    background-size: 100% .1em;
    background-position: 0 103%;
  }

  &:active {
    color: #555;
    background-image: linear-gradient(120deg, #11998e 0%, #11998e 100%);
    background-repeat: no-repeat;
    background-size: 100% .1em;
    transition: all 0.15s ease-in;
  }
}

.main {
  margin: 0;

  &.primary {
    background-color: white;
    color: black;
  }

  &.inverted {
    background-color: black;
    color: white;
  }
}
